body {
	font-family:Arial, Helvetica, Verdana, sans-serif;
	font-size:0.75em;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin:0px 0px 0px 0px;
}

h1 {
	color:#E1E1E1;
	font-family:arial,Helvetica,tahoma,sans-serif;
	font-size:26px;
	font-weight:normal;
	margin:0;
	padding:0 0 5px;
}

h2 {
	color:#E1E1E1;
	font-family:arial,Helvetica,tahoma,sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:0;
	padding:0 0 5px;
}

a,a:hover,a:active,a:visited {
	color: #ebebeb;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	color:#FFFFFF;
}

.pageContents {
	padding: 8px;
}

.tf2rule {
	font-size:1pt;
	padding: 6px;
	background-image: url('images/horiz.png');
	background-repeat:repeat-x;
	height: 9px;
	margin: 0px;
}

.invBox {
	position: relative;
	float: left;
	/*width: 98px;
	height: 79px;*/
	margin: 0px;
	background-position: center center;
	overflow: visible;


	width: 92px;
	height: 73px;
	margin-left: 4px;
	margin-right: 2px;
	margin-bottom: 6px;
	background-image: url(images/cell.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.invBox img {
	top: -8px;
	left: 2px;
}

.cellHover {
	background-position: 0 -73px;
}

.cellSelected {
	background-position: 0 -146px;
}

.nobg {
	background-image: none;
}

.item {
	position: absolute;
	top: 0px;
	left: 0px;
}